# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VSCode settings (optional)
.vscode/

# Ignore environment config files
.env

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db
